*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{


 
    /* background-color: #74EBD5; */
/* background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%); */
 
    

     /* background-color: #FAD961;
background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%); */

    /* border: 5px solid purple; */
}

.container-fluid{

    background-image: url("./images/world.jpeg");
  
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 25px; */
    padding-bottom: 100%;
    /* border: 4px solid red; */
   
}
#World_Countries{
/* margin-top: 3rem; */
}

.h1-text{
    margin-top: 4rem;
    color: #7256a7;
     margin: 40px auto;
}

 .form-control {
    /* border: 2px solid #beecfa; */
    margin-top:2rem;
    margin-bottom: 3rem;
 }

.container-fluid{
     /* border: 4px solid red;  */
     margin: 0 auto;
     /* background-color:#87dbf5; */
}

.nav{
    /* border: 4px solid  #74EBD5 ; */
 margin-top: 2rem;
 
}
 
.nav-link {
    /* color: #452224; */
    color: #7256a7;
    font-weight: bolder;
    cursor: pointer;
}

.btn{
    /* background-color: #74EBD5; */
    background-color: navy;
    /* background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%); */
    
}

.btn:hover{
    background-color: lightslategray
   
}




.container-sm{
    /* border: 4px solid black;  */
}
#country-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
    /* border: 4px solid green; */
 
   
}
 
.card{
    width: 30%;
    /* align-items: center; */
    margin: 40px auto;
    display: flex;
    padding: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-image: url("./images/");   */
    
   
    
}
.card-body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* background-color:#87dbf5; */
    /* margin: rem; */
}

#country-details.hide{
    display: none;
}


#empty-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}


#empty-container.hide{
    display: none;
}


#region-countries{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

 
#region-countries.hide{
    display: none;
}


@media screen and (max-width:780px) {

    #country-details{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card{
        width: 45%;
        /* align-items: center; */
        margin: 40px auto;
        display: flex;
        padding: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        
       
        
    }
    
}
 


@media screen and (max-width:580px) {

    #country-details{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card{
        width: 60%;
        /* align-items: center; */
        margin: 40px auto;
        display: flex;
        padding: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        
       
        
    }
    
}
 

@media screen and (max-width:320px) {

    #country-details{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card{
        width: 100%;
        /* align-items: center; */
        margin: 40px auto;
        display: flex;
        padding: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        
       
        
    }
    
}


@media screen and (max-width:280px) {

    #country-details{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card{
        width: 100%;
        /* align-items: center; */
        /* margin: 40px auto; */
        display: flex;
        padding: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        
       
        
    }
    .container-fluid{
        max-width: 100%;
    }
    
}