*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color:#beecfa;  */
    background-color: #74EBD5;
background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
 
    

     /* background-color: #FAD961;
background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%); */

    /* border: 5px solid purple; */
}

.h1-text{
    margin-top: 2rem;
    color: #7256a7;
     margin: 40px auto;
}

 .form-control {
    border: 2px solid #beecfa;
    margin-top:5rem;
    margin-bottom: 3rem;
 }

.container-fluid{
     /* border: 4px solid red;  */
     margin: 0 auto;
     /* background-color:#87dbf5; */
}

.nav{
    /* border: 4px solid  #74EBD5 ; */
 margin-top: 2rem;
}
.nav-link {
    /* color: #452224; */
    color: #7256a7;
    font-weight: bolder;
}

.btn{
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
     
}




.container-sm{
    /* border: 4px solid black;  */
}
#country-details{
    display: flex;
    flex-wrap: wrap;
    /* margin: 100px auto; */
    /* border: 4px solid green; */
 
   
}
 
.card{
    width: 45%;
    /* align-items: center; */
    margin: 40px auto;
    display: flex;
    padding: 1rem;
    
   
    
}
.card-body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* background-color:#87dbf5; */
    /* margin: rem; */
}
 
